<div class="container">
  <h1>Welcome to the Task Manager</h1>
  <div class="row well"
    <ul>
      <li><h3><a href="/tasks">Task Index</a></h3></li>
      <li><h3><a href="/tasks/new">New Task</a></h3></li>
    </ul>
  </div>
</div>
